

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 26px;
    background-color: rgba(106, 105, 105, 0.90);  
    padding: 20px;
    margin-bottom: -20px;
    text-decoration: none;
    text-decoration-line: none;
}

.menu li {
    color: inherit;
    text-decoration: none ;
    text-decoration-line: none;
}
.menu li:hover {
    color: white;
    text-decoration: none ;
    text-decoration-line: none;
}

.menu Link {
    color : inherit;
    text-decoration: none;
    text-decoration-line: none;
}