.head {
    display: flex;
    position: fixed;
    flex-direction: row;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    position: fixed;
    font-size: 26px;
}

.menu li {
    padding: 0 10px 0 10px;
    color: white;
}